//colors
$primary-content: #13483E;
$secondary-content: #4C7B72;
$tertiary-content: #85ADA6;

$primary-background: #E1FFF9;
$secondary-background: #92E8D7;

$key-color: #D01463;
$disabled: #95345C;
$warning: #FF611D;

//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$myFont: 'Poppins', sans-serif;
$handWritten: 'Courgette', cursive;
$fontSize: 3.5rem;
$fontWeight: 300;